<%= render "layouts/messages" %>
<h1>Admin:</h1>
<%= render "layouts/header" %>
<h1>Accounts</h1>


<h1>USER LIST</h1>
<% @users.each do |user| %>
    <ul>
      <li><%= user.id %></li>
      <li><%= user.email %></li>
    </ul>
<% end %>

<br>
<%= link_to 'New Account', new_account_path %>
</br>
<%= link_to 'iclick ito', new_user_registration_path %>