<%= render "layouts/messages" %>
<h1>Admin:</h1>
<%= render "layouts/header" %>

</br>
<%= link_to 'New Account', new_account_path %>

<h1>User List</h1>
<% @users.each do |user| %>
    <ul>
      <li><%= user.id %></li>
      <li><%= user.name %></li>
      <li><%= user.email %></li>
      <li><%= user.role_type %></li>
      <li><%= user.credit %></li>
    </ul>
<% end %> 